@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'summernote';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(font/summernote.eot);
  /* src: url(font/summernote.eot?#iefix) format('embedded-opentype'),
    url(font/summernote.woff2) format('woff2'),
    url(font/summernote.woff) format('woff'),
    url(font/summernote.ttf) format('truetype'); */
}

@layer base {
  body {
    font-family: 'Lato', sans-serif;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.text {
  font-size: 5rem;
  padding-top: 3rem;
  color: white;
  font-family: 'Twentieth Century', sans-serif;
}

/* .img {
  height: 100%;
  width: auto;
} */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  /* color: #14532d; */
  /* background: url('../assets/ico-success.png'); */
  background: url('../assets/test1.jpg') center center no-repeat fixed;
  background-size: cover;
}
